@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<string>
@{
}

<h2>Personel Kayıt İşlemi</h2>
<form method="post" action="@Url.Action("Add", "RedisListType")">

    <input type="text" name="Name" />
    <button type="submit" name="btnSave">Ekle</button>
</form>
<br />
<h2>Personel Silme İşlemi</h2>
@*<form method="post" action="@Url.Action("Remove", "RedisListType")">

    <input type="text" name="Name" />
    <button type="submit" name="btnSave">Sil</button>
</form>*@



<form asp-controller="RedisListType" asp-action="Remove" method="post">

    <input type="text" name="Name" />
    <button type="submit" name="btnSave">Sil</button>
</form>

<br />

@foreach (string item in Model)
{
    <h3>@item</h3>
    <br />
}